---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jordan Chude Williams" description="About Jordan Chude Williams">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/streaming.png"
					alt="Jordan Chude Williams streaming on Twitch"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Jordan Chude Williams is a self-taught Software Engineer and coding boot camp graduate with a rich background in the music industry, where he gained valuable experience in client relationship management and project leadership. Driven by a passion for technology and a desire to create meaningful user experiences, Jordan has developed a strong foundation in full-stack web development and a keen problem-solving mindset. Continually seeking opportunities to grow as a professional, he aims to contribute to the tech industry in innovative ways. Outside of work, Jordan enjoys sharing his love for music, engaging with the developer community, and exploring the latest advancements in technology.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BM, Music Business | NYU, Steinhardt School of Culture | New York, NY | 2016 | 3.5</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong>LANGUAGES:</strong></p>
					<ul>
						<li>HTML5</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>Python</li>
					</ul>

					<p><strong>FRAMEWORKS &amp; LIBRARIES:</strong></p>
					<ul>
						<li>Node.js</li>
						<li>Express.js</li>
						<li>Vue.js</li>
						<li>jQuery</li>
						<li>Bootstrap 4</li>
						<li>Django</li>
						<li>React.js</li>
					</ul>

					<p><strong>DATABASES:</strong></p>
					<ul>
						<li>MongoDB</li>
						<li>Mongoose</li>
						<li>Mongo Atlas</li>
						<li>PostgreSQL</li>
					</ul>

					<p><strong>TOOLS:</strong></p>
					<ul>
						<li>Git</li>
						<li>Github</li>
						<li>Heroku</li>
						<li>Netlify</li>
					</ul>

					<p><strong>CONCEPTS:</strong></p>
					<ul>
						<li>Object-Oriented Programming (OOP)</li>
						<li>Algorithms</li>
						<li>Data Structures</li>
						<li>REST API</li>
						<li>Error Handling</li>
					</ul>

					<p><strong>DESIGN:</strong></p>
					<ul>
						<li>Wireframing</li>
						<li>Responsive Web Design</li>
						<li>Webflow.io</li>
					</ul>

					<p><strong>ANALYTICS &amp; BI TOOLS:</strong></p>
					<ul>
						<li>Mode</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
