---
import { Tabs } from 'astro-tabs';
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---
<h2 class="experience-title">Where I've Worked</h2>

<Tabs class="tab">
  <Fragment slot="tab-1">Twitch</Fragment>
  <Fragment slot="tab-2">General Assembly</Fragment>
  <Fragment slot="tab-3">EQT</Fragment>

  <Fragment slot="panel-1-tallest">
    <h2 class="experience-role">Sr. Manager, Creator Acquisition & Development / Artist Account | Twitch | New York, NY | November 2020 - Present</h2>
    <ul> 
      <li>Lead Hip-Hop strategy and execution, Twitch's most popular genre by listenership, resulting in a renewed focus on the genre.</li>
      <li>Manage professional relationships with priority partners representing over $1 million of revenue annually by leveraging daily data metrics, weekly calls, and monthly performance reviews.</li>
      <li>Research, negotiate and execute contracts for priority label and acquisition target creators with millions of off-service impressions each to bring to Twitch.</li>
      <li>Created the 'First 100 Days' program to guide newly acquired creators through on-boarding, by facilitating research, conducting user interviews, and building an informational document.</li>
      <li>Co-host creator informational webinars as a part of The Collective artist development program in collaboration with a cross-functional team, leading to an 80% retention rate across 300+ participants on the service post-program.</li>
      <li>Use quantitative and qualitative data to recommend product improvements, including front page placement strategy and a priority feature called GuestStar.</li>
      <li>Contribute to a quarterly meeting with the CTO, 30+ engineers, and product and design leaders to develop and implement strategies for increasing diversity in engineering, product, and design teams at Twitch.</li>
    </ul>
  </Fragment>

  <!-- v———————————————————————————————————— This is the tallest panel -->
  <Fragment slot="panel-2">
    <h2 class="experience-role">Software Engineering Fellow | General Assembly | June 2020 - September 2020</h2>
    <ul>
      <li>Graduated from a 500-hour, full-time, and full-stack immersive program by learning to code and build 3 full-stack web applications that utilize an MVC framework, SQL databases, and RESTful APIs in less than 4 months.</li>
      <li>Collaborated with classmates on nightly homework assignments and daily labs; received positive feedback from instructors and peers for leadership and mentorship.</li>
      <li>Practiced daily algorithm and data structure challenges in Javascript, Ruby, and Python to prepare for technical interviews and increase knowledge in these respective languages.</li>
      <li>Produced three individual (i.e., two full stack and one frontend) projects, collaborated with four other developers via Git and GitHub to produce one full-stack application, and learned to plan and build with the entire technology stack which included Ruby on Rails, React.js, and PostgreSQL.</li>
    </ul>
    
  </Fragment>

  <Fragment slot="panel-3">
    <h2 class="experience-role">Artist / Project Manager | EQT, LLC | September 2018 - February 2020</h2>
    <ul>
      <li>Contributed to $500,000 in gross revenue for artists in 2019 by supporting the development of the artists' careers and guiding the management of the artists' touring, merchandise, and other sales channels.</li>
      <li>Reviewed and revised marketing and recording budgets for up to $100k in funds, contributing to a client peak position of #104 on the US Billboard 200 and #2 on the Heatseekers Album Chart.</li>
      <li>Managed the hiring of tour crew, drafted and revised tour budgets, and negotiated tour expenses, resulting in up to $130k in touring profit across several tours.</li>
      <li>Managed online and touring merchandise across several artists, resulting in up to $40k in sales in 24 hours by working with the artists, designers, and manufacturers to create and distribute the merchandise.</li>
      <li>Led negotiations with third-party teams and record labels to finalize song splits and advances, which resulted in the timely release of multiple artist projects.</li>
    </ul>
  </Fragment>
</Tabs>

<div class="cta">
  <CallToAction href="https://www.dropbox.com/s/ik0z4bo7xbo5wgt/JORDAN%20CHUDE%20WILLIAMS.pdf?dl=0" specialStyle={true}>
    View Resumé
    <Icon icon="arrow-right" size="1.2em" />
  </CallToAction>
</div>

<style>

  .experience-role {
    font-size: 15px;
    font-style: italic;
  }

  
</style>

<script src="/node_modules/@material-tailwind/html/scripts/tabs.js"></script>
