---
import { Tabs } from 'astro-tabs';
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---
<h2 class="experience-title">Where I've Worked</h2>

<Tabs>
  <Fragment slot="tab-1">Twitch</Fragment>
  <Fragment slot="tab-2">General Assembly</Fragment>
  <Fragment slot="tab-3">EQT</Fragment>

   <!-- v———————————————————————————————————— This is the tallest panel -->
  <Fragment slot="panel-1-tallest">
    <h2 class="experience-role">Sr. Manager, Creator Acquisition & Development / Artist Account | Twitch | New York, NY | November 2020 - Present</h2>
    <ul>
      <li>Independently plan and construct internal tools such as 'Creator Assessment Utility,' a Python-based tool for scoring creators across various platforms, and 'Clips Digest,' a custom-built React.js and Node.js interface that streamlines the Twitch clip review process for managers.</li>
      <li>Regularly participate in a quarterly meeting with the CTO, 30+ engineers, and product and design leaders, contributing to the development and implementation of strategies for increasing diversity within Twitch's engineering, product, and design teams.</li>
      <li>Leverage quantitative and qualitative data to propose impactful product improvements, including the front page placement strategy and the development of the GuestStar feature.</li>
      <li>Designed and implemented the 'First 100 Days' program, a comprehensive onboarding initiative for newly acquired creators, now used as the blueprint for non-gaming creator onboarding documentation across the acquisition team and a key influencer in account management strategy.</li>
      <li>Manage high-value partnerships, representing over $1 million in annual revenue, by employing daily data metrics, conducting weekly calls, and facilitating monthly performance reviews to maintain and nurture these relationships.</li>
      <li>Successfully negotiate and execute contracts with high-profile label and acquisition target creators, resulting in millions of additional off-service impressions for Twitch.</li>
    </ul>    
  </Fragment>

  <Fragment slot="panel-2">
    <h2 class="experience-role">Software Engineering Fellow | General Assembly | June 2020 - September 2020</h2>
    <ul>
      <li>Graduated from a 500-hour, full-time, and full-stack immersive program by learning to code and build 3 full-stack web applications that utilize an MVC framework, SQL databases, and RESTful APIs in less than 4 months.</li>
      <li>Collaborated with classmates on nightly homework assignments and daily labs; received positive feedback from instructors and peers for leadership and mentorship.</li>
      <li>Practiced daily algorithm and data structure challenges in Javascript, Ruby, and Python to prepare for technical interviews and increase knowledge in these respective languages.</li>
      <li>Produced three individual (i.e., two full stack and one frontend) projects, collaborated with four other developers via Git and GitHub to produce one full-stack application, and learned to plan and build with the entire technology stack which included Ruby on Rails, React.js, and PostgreSQL.</li>
    </ul>
    
  </Fragment>

  <Fragment slot="panel-3">
    <h2 class="experience-role">Artist Manager / Project Manager | EQT, LLC | September 2018 - February 2020</h2>
    <ul>
      <li>Contributed to $500,000 in gross revenue for artists in 2019 by supporting the development of the artists' careers and guiding the management of the artists' touring, merchandise, and other sales channels.</li>
      <li>Reviewed and revised marketing and recording budgets for up to $100k in funds, contributing to a client peak position of #104 on the US Billboard 200 and #2 on the Heatseekers Album Chart.</li>
      <li>Managed the hiring of tour crew, drafted and revised tour budgets, and negotiated tour expenses, resulting in up to $130k in touring profit across several tours.</li>
      <li>Managed online and touring merchandise across several artists, resulting in up to $40k in sales in 24 hours by working with the artists, designers, and manufacturers to create and distribute the merchandise.</li>
      <li>Led negotiations with third-party teams and record labels to finalize song splits and advances, which resulted in the timely release of multiple artist projects.</li>
    </ul>
  </Fragment>
</Tabs>


<div class="cta">
  <CallToAction href="https://www.dropbox.com/s/692uobfl5frsa42/JORDAN%20CHUDE%20WILLIAMS.pdf?dl=0" openInNewTab={true} specialStyle={true}>
    View Resumé
    <Icon icon="arrow-right" size="1.2em" />
  </CallToAction>
</div>

<style>

  .experience-role {
    font-size: 20px;
    font-style: italic;
  }

  :global(.tab) {
    position: relative;
    font-family: var(--font-brand);
    color: white;
    margin-bottom: 10%;
    display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		border: 1px solid var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
    background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
  }

  :global(.tab-1, .tab-2) {
    margin-right: 2%;
  }
  
  :global(.tab:hover) {
    color: var(--bs-link-hover-color);
    border-radius: 0;
  }

  :global(.tab-selector:checked ~ .tab) {
    color: white;
    border-radius: 0;
  }

  :global(.tab)::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: hsla(var(--gray-999-basis), 0.3);
    mix-blend-mode: overlay;
    opacity: 0;
    transition: opacity var(--theme-transition);
  }

  :global(.tab:focus::before),
  :global(.tab:hover::before) {
    opacity: 1;
  }


  
  .panel {
    padding: 1rem;
    background-color: lightcyan;
    border: 3px solid darkcyan;
    font-family: var(--font-brand);
  }

  @media (max-width: 900px) {
      :global(.tab-1, .tab-2) {
      margin-right: 1%;
    }
    
    .experience-title {
      margin-bottom: -10px;
    }
  }


  
</style>