---
import { Tabs } from 'astro-tabs';
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---
<h2 class="experience-title">Where I've Worked</h2>

<Tabs>
  <Fragment slot="tab-1">Twitch</Fragment>
  <Fragment slot="tab-2">General Assembly</Fragment>
  <Fragment slot="tab-3">EQT</Fragment>

   <!-- v———————————————————————————————————— This is the tallest panel -->
  <Fragment slot="panel-1-tallest">
    <h2 class="experience-role">Sr. Manager, Creator Acquisition & Development / Artist Account | Twitch | New York, NY | November 2020 - Present</h2>
    <ul>
      <li>Independently plan and construct internal tools such as 'Creator Assessment Utility,' a Python-based tool for scoring creators across various platforms, and 'Clips Digest,' a custom-built React.js and Node.js interface that streamlines the Twitch clip review process for Account Managers.</li>
      <li>Inspired the creation of and actively participate in a quarterly meeting with the CTO, 30+ engineers, and product and design leaders to develop and implement strategies to support individuals from non-technical backgrounds in securing tech positions at Twitch.</li>
      <li>Spearheading the Development Team for non-gaming creators on Twitch, focusing on insights generation and strategic collaboration with the Strategy Team to enhance scalable acquisition efforts.</li>
      <li>Leverage quantitative and qualitative data to propose impactful product improvements, including the front page placement strategy and the development of the GuestStar feature.</li>
      <li>Designed and implemented the 'First 100 Days' program, a comprehensive onboarding initiative for newly acquired creators, now used as the blueprint for non-gaming creator onboarding documentation across the acquisition team and a key influencer in account management strategy.</li>
      <li>Manage high-value partnerships, representing over $1 million in annual revenue, by employing daily data metrics, conducting weekly calls, and facilitating monthly performance reviews to maintain and nurture these relationships.</li>

    </ul>    
  </Fragment>

  <Fragment slot="panel-2">
    <h2 class="experience-role">Software Engineering Fellow | General Assembly | June 2020 - September 2020</h2>
    <ul>
      <li>Completed a rigorous 500-hour, full-stack immersive program in under 4 months; developed and launched 3 web applications using MVC frameworks, SQL databases, and RESTful APIs.</li>
      <li>Collaborated with peers on nightly assignments and daily labs; recognized for leadership and mentoring skills by both instructors and classmates.</li>
      <li>Strengthened technical skills through daily practice of algorithmic problem-solving in Javascript, Ruby, and Python, leading to improved performance in interviews.</li>
      <li>Produced 3 individual projects and contributed to a full-stack application as part of a team of 4 developers using Git and GitHub; proficiently planned and executed.</li>
    </ul>    
    
  </Fragment>

  <Fragment slot="panel-3">
    <h2 class="experience-role">Artist Manager / Project Manager | EQT, LLC | September 2018 - February 2020</h2>
    <ul>
      <li>Strengthened digital infrastructure by creating a landing page, domain registration management, email/DNS troubleshooting, and Google Workspace implementation, enhancing internal communication and streamlining processes.</li>
      <li>Supported the development of artists' careers, resulting in $500,000 in gross revenue in 2019. Guided management of tours, merchandise, and sales channels to maximize profits and impact.</li>
      <li>Revised marketing and recording budgets for up to $100k in funds. Contributed to client peak positions on the US Billboard 200 and Heatseekers Album Chart.</li>
      <li>Managed tour logistics, including hiring crew, drafting and revising budgets, and negotiating expenses. Resulted in up to $130k in touring profit across multiple tours.</li>
      <li>Oversaw online and touring merchandise for several artists, creating and distributing merchandise in collaboration with artists, designers, and manufacturers. Generated up to $40k in sales within 24 hours.</li>
      <li>Facilitated negotiations with third-party teams and record labels to finalize song splits and advances. Ensured the timely release of multiple artist projects.</li>
    </ul>    
  </Fragment>
</Tabs>


<div class="cta">
  <CallToAction href="https://www.dropbox.com/s/21fkdzbg4nanhcl/JORDAN%20CHUDE%20WILLIAMS.pdf?dl=0" openInNewTab={true} specialStyle={true}>
    View Resumé
    <Icon icon="arrow-right" size="1.2em" />
  </CallToAction>
</div>

<style>

  .experience-role {
    font-size: 20px;
    font-style: italic;
  }

  :global(.tab) {
    position: relative;
    font-family: var(--font-brand);
    color: white;
    margin-bottom: 10%;
    display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		border: 1px solid var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
    background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
  }

  :global(.tab-1, .tab-2) {
    margin-right: 2%;
  }
  
  :global(.tab:hover) {
    color: var(--bs-link-hover-color);
    border-radius: 0;
  }

  :global(.tab-selector:checked ~ .tab) {
    color: white;
    border-radius: 0;
  }

  :global(.tab)::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: hsla(var(--gray-999-basis), 0.3);
    mix-blend-mode: overlay;
    opacity: 0;
    transition: opacity var(--theme-transition);
  }

  :global(.tab:focus::before),
  :global(.tab:hover::before) {
    opacity: 1;
  }


  
  .panel {
    padding: 1rem;
    background-color: lightcyan;
    border: 3px solid darkcyan;
    font-family: var(--font-brand);
  }

  @media (max-width: 900px) {
      :global(.tab-1, .tab-2) {
      margin-right: 1%;
    }
    
    .experience-title {
      margin-bottom: -10px;
    }
  }


  
</style>