---
import { Nav } from 'astro-bootstrap';
import type { NavItemType } from 'astro-bootstrap'; 

const navs: NavItemType[] = [
  { href: '#', text: 'Active' },
  { href: '#', text: 'Link' },
  { href: '#', text: 'Link' },
  { href: '#', text: 'Disabled', disabled: true },
];
---

<Nav tabs>{navs.map((nav) => <Nav.Item {...nav} />)}</Nav>